<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>บ้านไร่ กัล</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="images/icon.jpg" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- owl stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    <link rel="stylesheet" href="css/payment.css">
</head>
<!-- body -->

<body class="main-layout ">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="images/loading.gif" alt="#" /></div>
    </div>
    <!-- end loader -->
    <!-- header -->
    <header>
        <!-- header inner -->
        <div class="header">

            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo">
                                    <a href="/"><img src="images/newlogo2.png" alt="#"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                        <div class="menu-area">
                            <div class="limit-box">
                                <nav class="main-menu">
                                    <ul class="menu-area-main">
                                        <li class="active"> <a href="/">Home</a> </li>
                                        <li> <a href="/about">About</a> </li>
                                        <li><a href="/brand">Brand</a></li>
                                        <li><a href="/special">Specials</a></li>
                                        <li><a href="/contact">Contact Us</a></li>
                                        <li class="last">
                                            <a href="#"><img src="images/search_icon.png" alt="icon" /></a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-6 offset-md-6">
                        <div class="location_icon_bottum">
                            <ul>
                                <li><img src="icon/call.png" />(+71)9876543109</li>
                                <li><img src="icon/email.png" />demo@gmail.com</li>
                                <li><img src="icon/loc.png" />Location</li>
                            </ul>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- end header inner -->
    </header>
    <!-- end header -->

    <!-- payment -->
    <section class="cart container mt-2 my-3 py-5">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-11">
                    <div class="card card0 rounded-0">
                        <div class="row">
                            <div class="col-md-5 d-md-block d-none p-0 box">
                                <div class="card rounded-0 border-0 card1" id="bill">
                                    <h3 id="heading1">Payment Summary</h3>
                                    <div class="row">
                                        <div class="col-lg-7 col-8 mt-4 line pl-4">
                                            <h2 class="bill-head">Electronics</h2>
                                            <small class="bill-date">2017 Feb 10 at 10:30 PM</small>
                                        </div>
                                        <div class="col-lg-5 col-4 mt-4">
                                            <h2 class="bill-head px-xl-5 px-lg-4">CAF</h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-7 col-8 mt-4 line pl-4">
                                            <h2 class="bill-head">Food</h2>
                                            <small class="bill-date">2017 Feb 25 at 11:30 PM</small>
                                        </div>
                                        <div class="col-lg-5 col-4 mt-4">
                                            <h2 class="bill-head px-xl-5 px-lg-4">JFK</h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-7 col-8 mt-4 line pl-4">
                                            <h2 class="bill-head">Grocery</h2>
                                            <small class="bill-date">2017 Mar 17 at 10:45 PM</small><br>
                                            <small class="bill-date">2017 Mar 18 at 11:45 PM</small>
                                        </div>
                                        <div class="col-lg-5 col-4 mt-4">
                                            <h2 class="bill-head px-xl-5 px-lg-4">LHR</h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-7 col-8 mt-4 line pl-4">
                                            <h2 class="bill-head">Accessories</h2>
                                            <small class="bill-date">2017 Apr 13 at 05:30 PM</small>
                                        </div>
                                        <div class="col-lg-5 col-4 mt-4">
                                            <h2 class="bill-head px-xl-5 px-lg-4">JFK</h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 red-bg">
                                            <p class="bill-date" id="total-label">Total Price</p>
                                            <h2 class="bill-head" id="total">$ <%= total %></h2>
                                            <small class="bill-date" id="total-label">Price includes all taxes</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="col-md-7 col-sm-12 p-0 box">
                                <div class="card rounded-0 border-0 card2" id="paypage">
                                    <div class="form-card">
                                        <h2 id="heading2" class="text-danger">Payment Method</h2>
                                        <div class="radio-group">
                                            <div class='radio' data-value="credit"><img src="https://i.imgur.com/28akQFX.jpg" width="200px" height="60px"></div>
                                            <div class='radio' data-value="paypal"><img src="https://i.imgur.com/5QFsx7K.jpg" width="200px" height="60px"></div>
                                            <br>
                                        </div>
                                        <label class="pay">Name on Card</label>
                                        <input type="text" name="holdername" placeholder="John Smith">
                                        <div class="row">
                                            <div class="col-8 col-md-6">
                                                <label class="pay">Card Number</label>
                                                <input type="text" name="cardno" id="cr_no" placeholder="0000-0000-0000-0000" minlength="19" maxlength="19">
                                            </div>
                                            <div class="col-4 col-md-6">
                                                <label class="pay">CVV</label>
                                                <input type="password" name="cvcpwd" placeholder="&#9679;&#9679;&#9679;" class="placeicon" minlength="3" maxlength="3">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="pay">Expiration Date</label>
                                            </div>
                                            <div class="col-md-12">
                                                <input type="text" name="exp" id="exp" placeholder="MM/YY" minlength="5" maxlength="5">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <!-- <input type="submit" value="MAKE A PAYMENT &nbsp; &#xf178;" class="btn btn-info placeicon"> -->
                                                <button type="submit" value="MAKE A PAYMENT &nbsp; &#xf178;" class="btn btn-info placeicon" onclick="showImage()" id="btnID">MAKE A PAYMENT &nbsp; &#xf178;</button>
                                                <!-- FILEPATH: /path/to/your/file.html -->
                                                <!-- <button onclick="showImage()">Click me</button> -->
                                                <img id="myImage" style="display:none" src="https://miro.medium.com/v2/resize:fit:640/format:webp/0*1eIvjZq2tiF1K6-E.jpg">
                                                <script>
                                                function showImage() {
                                                    var img = document.getElementById("myImage");
                                                    img.style.display = "block";
                                                }
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
    <!-- footer -->
    <br>
    <footer>
        <div id="contact" class="footer">
            <!-- <div class="container">
                <div class="row pdn-top-30">
                    <div class="col-md-12 ">
                        <div class="footer-box"> -->
                            <!-- <div class="headinga">
                                <h3>Address</h3>
                                <span>Healing Center, 176 W Streetname,New York, NY 10014, US</span>
                                <p>(+71) 8522369417
                                    <br>demo@gmail.com</p>
                            </div> -->
                            <!-- <ul class="location_icon">
                                <li> <a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li> <a href="#"><i class="fa fa-instagram"></i></a></li>

                            </ul> -->
                            <!-- <div class="menu-bottom">
                                <ul class="link">
                                    <li> <a href="#">Home</a></li>
                                    <li> <a href="#">About</a></li>
                                    
                                    <li> <a href="#">Brand </a></li>
                                    <li> <a href="#">Specials  </a></li>
                                    <li> <a href="#"> Contact us</a></li>
                                </ul>
                            </div> -->
                        <!-- </div>
                    </div>
                </div>
            </div> -->
            <div class="copyright">
                <div class="container">
                    <p>© 2019 All Rights Reserved. Design By<a href="https://templates.beatsnoop.com/"> Free Html Templates</a></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- Javascript files-->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/plugin.js"></script>
    <!-- sidebar -->
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/custom.js"></script>
    <!-- javascript -->
    <script src="js/owl.carousel.js"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".fancybox").fancybox({
                openEffect: "none",
                closeEffect: "none"
            });

            $(".zoom").hover(function() {

                $(this).addClass('transition');
            }, function() {

                $(this).removeClass('transition');
            });
        });
    </script>
</body>

</html>